<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>

        body{
            background-color: #3f60c4;
        }
        
        .image{
            position: relative;
            left: 135px;
            width: 649px;
            top: 2vw;
        }

        .sign{
            left: 65%;
            color: white;
            position: relative;
            border-style: solid;
            top: -27vw;
            width: 114px;
            font-size: 24px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .log{
            left: 65%;
            color: white;
            position: relative;
            border-style: solid;
            top: -21vw;
            width: 114px;
            font-size: 24px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .imageContainer{
            position: relative;
            height: 680px;
        }
    </style>

    <div class="imageContainer">
        <img src="https://i.pinimg.com/originals/a9/dd/93/a9dd9332469ecad9d9770985d8e032f0.png" alt="authenticate" class="image">
        <a href="/signup" class="sign">Sign up</a>
        <a href="/login" class="log">Log in</a>
    </div>
</body>
</html>